<h1> Transactions Table for <%= user.username %> </h1>

<p> Here is a table of your transactions. </p>

<div class="row">
    <div class = "col"> 
        <p>
            <a  class="btn btn-lg btn-primary"
                href="/transactions/groupby">Group by Category</a></p>


    </div>
  <div class="col">
    
    <p>
      <a  class="btn btn-lg btn-primary"
          href="/transactions/byCategory">Sort by Category</a></p>
  </div> 
  <div class="col">
    
    <p>
      <a  class="btn btn-lg btn-primary"
          href="/transactions/byAmount">Sort by Amount</a></p>
  </div> 
  <div class="col">
    
    <p>
      <a  class="btn btn-lg btn-primary"
          href="/transactions/byDescription">Sort by Description</a></p>
  </div> 
  <div class="col">
    
    <p>
      <a  class="btn btn-lg btn-primary"
          href="/transactions/byDate">Sort by Date</a></p>
  </div> 

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            
            <th>Category</th>
            <th>Amount</th>
            
        </tr>
    </thead>
    
    <tbody>  
  
        <% results.map(item => { %>

            <tr>
               <td><%= item._id %></td>
               <td><%= item.total %></td>
            </tr>
            
            <% }) %>
            
    </tbody>

    
</table>