<h1>Summary of stuff</h1>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>username</th>
            <th>age</th>
            <th>number of todos</th>
        </tr>
    </thead>
    <tbody>
        <% results.map(item => {%>
            <tr>
               <td> <%= item.description %> </td>
               <td><%= item.category %></td>
               <td><%= item.amount %></td>
               <td><%= item.date%></td>

            </tr>
            
            <% }) %>

    </tbody>
</table>