<!DOCTYPE html>
<html>
	<head>
		<title>About Us</title>
	</head>
	<body>
		<header>
			<h1>About Us</h1>
		</header>

		<main>
			<p>
				Welcome to our website! We are a team of passionate individuals
				dedicated to providing the best services/products to our customers.
			</p>

			<br />
			<p>
				Our website here uses prompt engineering to give useful responses for
				some queries using the OpenAI key. When a user clicks on the "Ask GPT"
				tab at the top of the navigation bar, they can choose from select
				prompts to ask ChatGPT.
			</p>
			<h2>Our Mission</h2>
			<p>
				Our mission is to make a fun and cool creative assignment for COSI 103.
			</p>

			<h2>Our Team</h2>
			<p>Meet our team:</p>
			<ul>
				<li>Ken Kirio - CEO</li>
				<li>Kevin Chen - CFO</li>
				<li>Jack Napoleon - CTO</li>
			</ul>

			<h2>Contact Us</h2>
			<p>Please hesitate to contact us at 781 - 736 - 3333.</p>
		</main>

		<footer>
			<p>Copyright &copy; 2023</p>
		</footer>
	</body>
</html>
