<div>
	<div class="row">
		<h1>Team Mid-Sized Sedan</h1>
		<h3>GPT Prompts</h3>
		<a href="/gpt/kevin">Travel destinations with GPT</a>
		<a href="/gpt/ken">Convert code from Python to Java with GPT</a>
		<a href="/gpt/jack">Get the runtime of a Python function with GPT</a>
	</div>

	<div class="row">
		<h3>
			<br />
			Recent Queries
		</h3>
		<table class="table table-bordered table-striped">
			<thead>
				<tr>
					<th>Your Query</th>
					<th>GPT response</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<% quitem.forEach(item => { %>
				<tr>
					<td><%= item.input %></td>
					<td><%= item.output %></td>
					<td style="text-align: center">
						<a href="/gpt/delete/<%=item._id%>">
							<i class="bi bi-trash"></i>
						</a>
					</td>
				</tr>
				<% }); %>
			</tbody>
		</table>
	</div>
</div>
