<h1>Team Mid-Sized Sedan</h1>

<h3>Main pages</h3>
<li><a href="/about">About</a></li>
<li><a href="/team">Team</a></li>
<li><a href="/index">Index</a></li>
<li><a href="/gpt">GPT Prompts</a></li>
<br /><br />

<h3>Team Member Pages</h3>
<li><a href="/index/kevin">Kevin's Page</a></li>
<li><a href="/index/ken">Ken's Page</a></li>
<li><a href="/index/jack">Jack's Page</a></li>
<br /><br />

<h3>GPT Prompts</h3>
<li><a href="/gpt/kevin">Travel destinations with GPT</a><br /></li>
<li><a href="/gpt/ken">Convert code from Python to Java with GPT</a><br /></li>
<li><a href="/gpt/jack">Get the runtime of a python function with GPT</a></li>
