<h1>Team Mid-Sized Sedan</h1>

<h3>Main pages</h3>
<a href="/about">About</a>
<a href="/team">Team</a>
<a href="/index">Index</a>
<a href="/gpt">GPT Prompts</a>
<br /><br />

<h3>Team Member Pages</h3>
<a href="/index/kevin">Kevin</a>
<a href="/index/ken">Ken</a>
<a href="/index/jack">Jack</a>
<br /><br />

<h3>GPT Prompts</h3>
<a href="/gpt/kevin">Travel destinations with GPT</a><br />
<a href="/gpt/ken">Convert code from Python to Java with GPT</a><br />
<a href="/gpt/jack">Get the runtime of a python function with GPT</a>
