<h1>Jack's GPT Demo</h1>
<h4>Your Python code:</h4>
<pre style="bgcolor: yellow"><%= prompt %></pre>
<hr />
<h4>The runtime of your python code is:</h4>
<pre style="border: thin solid black"><%= response %></pre>
<li><a href="/gpt/jack">Make another query</a></li>
<li><a href="/">Return to home</a></li>
