<h1>Jack's GPT Demo</h1>
<h4>Get the runtime of a python function with GPT</h4>
<p>Input the Python code:</p>
<form method="post">
	<textarea name="query"></textarea>
	<br /><br />
	<input type="submit" />
</form>
