<h1> Ken's GPT Demo </h1>
<h4>Convert your code from Python to Java</h4>
<p>Input the Python code:</p>
<form method="post">
   <textarea name="query"></textarea>
   <br><br>
   <input type=submit>
</form>