<h1> Ken's GPT Demo </h1>
<h4>The Python code:</h4>
<pre style='bgcolor:yellow'><%= prompt %></pre>
<hr>
<h4>The Java code:</h4>
<pre style='border:thin solid black'><%= response %></pre>
<li><a href='/gpt'>Make another query</a></li>
<li><a href='/'>Return to home</a></li>