<h1> Kevin's GPT Demo </h1>
<h4>Your destination:</h4>
<pre style='bgcolor:yellow'><%= prompt %></pre>
<hr>
<h4>Places to consider visiting:</h4>
<pre style='border:thin solid black'><%= response %></pre>
<li><a href='/gpt'>Make another query</a></li>
<li><a href='/'>Return to home</a></li>

<p>
    <%= QueryItem.prompt %>
</p>