<h1\>Kevin Chen</h1>

<p>
  I made my tourist destination GPT query and the about page. I also implemented the MongoDB table with the entries and delete button. <br />
  Here's my GPT app: 
  <a href="/gpt/kevin">Get some popular tourist destinations in a given place</a>
</p>