<h1>Team Mid-Sized Sedan</h1>

<ul>
	<li>
		Kevin made the About page and his GPT query about travel locations. He also
		made the MongoDB table with help from Jack.
	</li>
	<li>
		Ken made the Team and Ask GPT EJS views and added the necessary routes to
		app.js, figured out how to use the OpenAI API, and created his bio and GPT
		response form.
	</li>
	<li>
		Jack made the Index view, the runtime analysis GPT query, and helped Kevin
		make the MongoDB table.
	</li>
</ul>
