<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Index</title>
		<link
			rel="stylesheet"
			href="{{url_for('static',filename='css/main.css')}}"
		/>
	</head>
</html>

<div class="bg-white">
	<div class="flex">
		<div
			href="/gpt"
			class="flex-auto"
		>
			Try Chat-GPT
		</div>
		<div
			href="/about"
			class="flex-auto"
		>
			About Page
		</div>
		<div
			href="/team"
			class="flex-auto"
		>
			Team Contributions
		</div>
		<div
			href="/index"
			class="flex-auto"
		>
			Team Members
		</div>
	</div>
</div>

<h1>Index</h1>
<p>Index page</p>
